account_name: Sugar Pond account
site_logo: account-central.png
site_title: Sugar Pond Account Central
theme: account-central
hoptoad_api_key: <%= @hoptoad_api_key %>
rollbar_access_token: <%= @rollbar_access_token %>
secret_token: <%= @secret_token %>
devise_token: <%= @devise_token %>

extra_login_page_html: |
  <script type="text/javascript">
  $(function() {
    $("#account-explanation").hide();
    $("#show-account-explanation").click(function(e) { e.preventDefault(); $("#show-account-explanation").hide(); $("#account-explanation").show() });
  });
  </script>
  <div style="background-color: rgba(255,255,255,0.3); border: 2px white solid; border-radius: 5px; padding: 5px; margin-bottom: 1em;">
    <a href="#" id="show-account-explanation">What's a Sugar Pond account?</a>
    <div id="account-explanation">
      <p>Sugar Pond accounts are shared between several web apps and convention web sites, including:</p>
      <ul style="padding-left: 0; margin-left: 0;">
        <li style="display: inline-block; margin-right: 2em;">&bull; Journey</li>
        <li style="display: inline-block; margin-right: 2em;">&bull; Vellum</li>
        <li style="display: inline-block; margin-right: 2em;">&bull; Festival of the LARPs</li>
        <li style="display: inline-block; margin-right: 2em;">&bull; SLAW</li>
        <li style="display: inline-block; margin-right: 2em;">&bull; Dice Bubble and Time Bubble</li>
      </ul>
      <p>If you've signed up for any of them, you can use the same password here.</p>
    </div>
  </div>